<h1><%= title %></h1>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Filesystem</th>
    <th>Inputs</th>
  </tr>
  <% @filesystems.each do |filesystem| %>
  <tr>
    <td><a href="<%= url("/#{filesystem}") %>"><%= filesystem %></a></td>
    <td>
      <%= GPFS.fileset_input(filesystem) %>
      <br/>
      <%= GPFS.quota_input(filesystem) %>
    </td>
  </tr>
  <% end %>

</table>
